<form class="row g-3 p-5" action="/courses" method="post">
  <div><h2 class="text-primary fw-bold">Yangi kurs qo’shish</h2></div>
  <div class="col-md-4">
    <label for="inputEmail4" class="form-label">Kurs yunalishi</label>
    <input
      type="text"
      class="form-control"
      id="inputEmail4"
      name="direction"
      placeholder="Kurs yunalishi"
      title="Eng kami 1 ta harif bolsin eng kopi 15 ta harif bolsin va hamasi katta hariflarda bolsin"
      required
    />
  </div>
  <div class="col-md-4">
    <label for="inputPassword1" class="form-label">Kurs narxi</label>
    <input
      type="number"
      class="form-control"
      id="inputPassword1"
      name="price"
      pattern="[2-9]{2,10}"
      title="Kurs narxini kiriting"
      required
    />
  </div>

  <div class="col-md-4">
    <label for="inputPassword2" class="form-label transparent"
      >Ota onasi nomeri</label
    >
    <button type="submit" class="btn btn-primary btn_widht">Qo’shish</button>
  </div>
</form>
