<div class="searc d-flex w-100 justify-content-between px-5">
  <h3 class="text-primary">Bizning kurslar</h3>
  <select
    class="form-select btn_widht"
    id="filter"
    aria-label="Default select example"
  ></select>
  <input
    type="search"
    name="search"
    id="search"
    class="form-control mx-2 btn_widht"
    placeholder="Search"
  />
</div>
<div class="p-5 table_student">
  <table class="table table-hover border table-striped">
    <thead class="bg-color">
      <tr>
        <th scope="col">№</th>
        <th scope="col">Kurs yunalishi</th>
        <th scope="col" colspan="2">Kurs narxi</th>
      </tr>
    </thead>
    <tbody id="tbody"></tbody>
  </table>
</div>
